<p style="color: green"><%= notice %></p>

<%= render @outage %>

<div>
  <%= link_to "Edit this outage", edit_outage_path(@outage) %> |
  <%= link_to "Back to outages", outages_path %>

  <%= button_to "Destroy this outage", @outage, method: :delete %>
</div>
